// SECTION :: START

section#status.status
	.c-grid

		h2.status__title.c-title Status History
		p.status__desc!= "We’ve been monitoring G Suite since May 11, 2015. <br>Here’s the history of service outages we’ve observed from the G Suite page"

		.status__wrapper

			.status__slider
				.swiper-container.statusSwiper
					.swiper-wrapper
						.swiper-slide

							a.status__box(href="#statusDetails" popup-status-js data-effect='mfp-zoom-in')
								.status__box-head

									.status__box-line-wrapper
										div
											p!= "Feb<span>ruary</span> 2020"
										div
											.status__box-line.status__box-line-1
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours" style='left: 7%;width:10px;background-color:#ffd56b;')
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours" style='left: 18%;width:20px;background-color:#ff7b54;')
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours" style='left: 30%;width:5px;background-color:#fd5e53;')
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours" style='left: 62%;width:30px;background-color:#ffb26b;')
									.status__box-line-wrapper
										div
											p!= "Mar<span>ch</span> 2020"
										div
											.status__box-line.status__box-line-2
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours" style='left: 25%;width:10px;background-color:#ffd56b;')
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours" style='left: 48%;width:5px;background-color:#ffb26b;')
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours" style='left: 80%;width:30px;background-color:#ff7b54;')
									.status__box-line-wrapper
										div
											p!= "Apr<span>il</span> 2020"
										div
											.status__box-line.status__box-line-3
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours" style='left: 11%;width:10px;background-color:#FFD56B;')
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours" style='left: 23%;width:20px;background-color:#FF7B54;')
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours" style='left: 39%;width:30px;background-color:#FFD56B;')
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours" style='left: 71%;width:5px;background-color:#FD5E53;')

								.status__box-body
									ul
										li.warning1
											p Less than 60 mins
										li.warning2
											p Between 60 and 120 mins
										li.warning3
											p Between 120 and 360 mins
										li.warning4
											p Between 360 and 720 mins
										li.warning5
											p More than 720 mins

								.status__box-footer
									a.status__preview(href="#")
										i.icon-font.icon-eye
										span Click to Enlarge
						.swiper-slide

							a.status__box(href="#statusDetails" popup-status-js data-effect='mfp-zoom-in')
								.status__box-head

									.status__box-line-wrapper
										div
											p!= "May 2020"
										div
											.status__box-line.status__box-line-1
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
									.status__box-line-wrapper
										div
											p!= "Jun<span>e</span> 2020"
										div
											.status__box-line.status__box-line-2
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
									.status__box-line-wrapper
										div
											p!= "Jul<span>y</span> 2020"
										div
											.status__box-line.status__box-line-3
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")

								.status__box-body
									ul
										li.warning1
											p Less than 60 mins
										li.warning2
											p Between 60 and 120 mins
										li.warning3
											p Between 120 and 360 mins
										li.warning4
											p Between 360 and 720 mins
										li.warning5
											p More than 720 mins


								.status__box-footer
									a.status__preview(href="#")
										i.icon-font.icon-eye
										span Click to Enlarge
						.swiper-slide

							a.status__box(href="#statusDetails" popup-status-js data-effect='mfp-zoom-in')
								.status__box-head

									.status__box-line-wrapper
										div
											p!= "Aug<span>ust</span> 2020"
										div
											.status__box-line.status__box-line-1
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
									.status__box-line-wrapper
										div
											p!= "Sep<span>tember</span> 2020"
										div
											.status__box-line.status__box-line-2
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
									.status__box-line-wrapper
										div
											p!= "Oct<span>ober</span> 2020"
										div
											.status__box-line.status__box-line-3
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")

								.status__box-body
									ul
										li.warning1
											p Less than 60 mins
										li.warning2
											p Between 60 and 120 mins
										li.warning3
											p Between 120 and 360 mins
										li.warning4
											p Between 360 and 720 mins
										li.warning5
											p More than 720 mins


								.status__box-footer
									a.status__preview(href="#")
										i.icon-font.icon-eye
										span Click to Enlarge
						.swiper-slide

							a.status__box(href="#statusDetails" popup-status-js data-effect='mfp-zoom-in')
								.status__box-head

									.status__box-line-wrapper
										div
											p!= "Nov<span>ember</span> 2020"
										div
											.status__box-line.status__box-line-1
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
									.status__box-line-wrapper
										div
											p!= "Dec<span>ember</span> 2020"
										div
											.status__box-line.status__box-line-2
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
									.status__box-line-wrapper
										div
											p!= "Jan<span>uary</span> 2020"
										div
											.status__box-line.status__box-line-3
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")
												span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours")

								.status__box-body
									ul
										li.warning1
											p Less than 60 mins
										li.warning2
											p Between 60 and 120 mins
										li.warning3
											p Between 120 and 360 mins
										li.warning4
											p Between 360 and 720 mins
										li.warning5
											p More than 720 mins

								.status__box-footer
									a.status__preview(href="#")
										i.icon-font.icon-eye
										span Click to Enlarge
			.status__action
				div
					.status__pagination
				div
					a.status__btn.status__btn--prev(href="#")
						i.icon-font.icon-arrow
					a.status__btn.status__btn--next(href="#")
						i.icon-font.icon-arrow

// SECTION :: END
