// SECTION :: START

section#plans.plans

  .plans__bg
    div

  .c-grid
    .plans__wrapper.plans__wrapper-1

      h2.plans__title.c-title Start now your free plan
      p.plans__desc Choose a plan that works best for you

      .plans__option-wrapper
        .plans__option
          input(type='checkbox' name='' id='plansToggle')
          label(for='plansToggle')
            span Montly
            u
            span!= "Annually <i>save over 50%</i>"

      .plans__box-wrapper
        div
          a.plans__box(href="#")
            .plans__box-head
              p.plans__box-badge Free
              p.plans__box-price Free
              p.plans__box-info Per life
            .plans__box-body
              ul.plans__box-list
                li
                  div
                    img(src="img/img-icon-monitor.png" srcset="img/img-icon-monitor@2x.png 2x" alt="")
                  div
                    span Monitor up to 3 services
                li
                  div
                    img(src="img/img-icon-user.png" srcset="img/img-icon-user@2x.png 2x" alt="")
                  div
                    span 1 dashboard, 1 user
            .plans__box-footer
              button.plans__box-link(type='button') Learn more
              .c-btn__wrapper
                button.c-btn.c-btn__border.c-btn--medium(type='button')
                  span Try for free
        div
          a.plans__box(href="#")
            .plans__box-head
              p.plans__box-badge Incubator
              p.plans__box-price!= "<i>$</i> 27.49"
              p.plans__box-info Per month
            .plans__box-body
              ul.plans__box-list
                li
                  div
                    img(src="img/img-icon-monitor.png" srcset="img/img-icon-monitor@2x.png 2x" alt="")
                  div
                    span Monitor up to 25 services
                li
                  div
                    img(src="img/img-icon-user.png" srcset="img/img-icon-user@2x.png 2x" alt="")
                  div
                    span 1 dashboard, 1 user
                li
                  div
                    img(src="img/img-icon-filtering.png" srcset="img/img-icon-filtering@2x.png 2x" alt="")
                  div
                    span Component filtering
            .plans__box-footer
              button.plans__box-link(type='button') Learn more
              .c-btn__wrapper
                button.c-btn.c-btn__border.c-btn--medium(type='button')
                  span Try for free
        div
          a.plans__box(href="#")
            .plans__box-head
              p.plans__box-badge Startup
              p.plans__box-price!= "<i>$</i> 91.66"
              p.plans__box-info Per month
            .plans__box-body
              ul.plans__box-list
                li
                  div
                    img(src="img/img-icon-monitor.png" srcset="img/img-icon-monitor@2x.png 2x" alt="")
                  div
                    span Monitor up to 100 services
                li
                  div
                    img(src="img/img-icon-user.png" srcset="img/img-icon-user@2x.png 2x" alt="")
                  div
                    span 3 dashboards, 10 users
                li
                  div
                    img(src="img/img-icon-integration.png" srcset="img/img-icon-integration@2x.png 2x" alt="")
                  div
                    span!= "Everything in Incubator <br>+ Integrations"
            .plans__box-footer
              button.plans__box-link(type='button') Learn more
              .c-btn__wrapper
                button.c-btn.c-btn__border.c-btn--medium(type='button')
                  span Try for free
        div
          a.plans__box(href="#")
            .plans__box-head
              p.plans__box-badge Venture
              p.plans__box-price!= "<i>$</i> 274.99"
              p.plans__box-info Per month
            .plans__box-body
              ul.plans__box-list
                li
                  div
                    img(src="img/img-icon-monitor.png" srcset="img/img-icon-monitor@2x.png 2x" alt="")
                  div
                    span Monitor up to 500 services
                li
                  div
                    img(src="img/img-icon-user.png" srcset="img/img-icon-user@2x.png 2x" alt="")
                  div
                    span 1 dashboard, 1 user
                li
                  div
                    img(src="img/img-icon-integration.png" srcset="img/img-icon-integration@2x.png 2x" alt="")
                  div
                    span Everything in Startup + API
            .plans__box-footer
              button.plans__box-link(type='button') Learn more
              .c-btn__wrapper
                button.c-btn.c-btn__border.c-btn--medium(type='button')
                  span Try for free

    .plans__wrapper.plans__wrapper-2
      .plans__wrapper-left

        h2.plans__subtitle!= "Ready to <strong>increase</strong> <br>your <strong>students’ happiness*?</strong>"

      .plans__wrapper-right

        .c-btn__wrapper
          a.c-btn.c-btn__bg.c-btn__bg--green(href="#")
            span Start with Free Trial

// SECTION :: END
