// SECTION :: START

section#highlights.highlights

	.highlights__bg

	.c-grid
		.highlights__wrapper

			p.highlights__title.c-title Plan Highlights

			.highlights__header
				div
					p Free
				div
					p Incubator
				div.is-top
					span Top Plan
					p Startup
				div
					p Venture

			.highlights__table.highlights__table-1
				.highlights__table-row
					.highlights__table-col
						p Free forever!
					.highlights__table-col
						p Try free for 30 days
					.highlights__table-col.highlights__table-col--top
						p Try free for 30 days
					.highlights__table-col
						p Try free for 30 days
				.highlights__table-row
					.highlights__table-col
						p!= "Monitor up to <br><strong>3 services</strong>"
					.highlights__table-col
						p!= "Monitor up to <br><strong>25 services</strong>"
					.highlights__table-col.highlights__table-col--top
						p!= "Monitor up to <br><strong>100 services</strong>"
					.highlights__table-col
						p!= "Monitor up to <br><strong>500 services</strong>"
				.highlights__table-row
					.highlights__table-col
						p Single dashboard
					.highlights__table-col
						p Single dashboard
					.highlights__table-col.highlights__table-col--top
						p!= "Group services into <br><strong>3 dashboards</strong>"
					.highlights__table-col
						p!= "Group services into <br><strong>10 dashboards</strong>"
				.highlights__table-row
					.highlights__table-col
						p Single user
					.highlights__table-col
						p Single user
					.highlights__table-col.highlights__table-col--top
						p!= "Share account across <br><strong>10 users</strong>"
					.highlights__table-col
						p!= "Share account across <br><strong>30 users</strong>"
				.highlights__table-row
					.highlights__table-col
						p!= "10 notifications <br>per month"
					.highlights__table-col
						p Unlimited notifications
					.highlights__table-col.highlights__table-col--top
						p Unlimited notifications
					.highlights__table-col
						p Unlimited notifications
				.highlights__table-row
					.highlights__table-col
						p --
					.highlights__table-col
						p Components filters
					.highlights__table-col.highlights__table-col--top
						p Components filters
					.highlights__table-col
						p Components filters
				.highlights__table-row
					.highlights__table-col
						p --
					.highlights__table-col
						p --
					.highlights__table-col.highlights__table-col--top
						p!= "Proactive maintenance <br>notices"
					.highlights__table-col
						p!= "Proactive maintenance <br>notices"
				.highlights__table-row
					.highlights__table-col
						p --
					.highlights__table-col
						p --
					.highlights__table-col.highlights__table-col--top
						p --
					.highlights__table-col
						p SLA Checker
				.highlights__table-row
					.highlights__table-col
						.c-btn__wrapper.c-btn__wrapper--center
							a.c-btn.c-btn__bg.c-btn__bg--green.c-btn--medium(href="#")
								span FREE
					.highlights__table-col
						.c-btn__wrapper.c-btn__wrapper--center
							a.c-btn.c-btn__bg.c-btn__bg--green.c-btn--medium(href="#")
								span $27.49/mo
					.highlights__table-col.highlights__table-col--top
						.c-btn__wrapper.c-btn__wrapper--center
							a.c-btn.c-btn__bg.c-btn__bg--green.c-btn--medium(href="#")
								span $91.66/mo
					.highlights__table-col
						.c-btn__wrapper.c-btn__wrapper--center
							a.c-btn.c-btn__bg.c-btn__bg--green.c-btn--medium(href="#")
								span $274.99/mo

			.highlights__header
				p Integrations & Notifications

			.highlights__table.highlights__table-2
				.highlights__table-row
					.highlights__table-col
						p.img
							img(src="img/img-slack.png" alt="")
							| Slack
					.highlights__table-col
						p.img
							img(src="img/img-slack.png" alt="")
							| Slack
					.highlights__table-col.highlights__table-col--top
						p.img
							img(src="img/img-slack.png" alt="")
							| Slack
					.highlights__table-col
						p.img
							img(src="img/img-slack.png" alt="")
							| Slack
				.highlights__table-row
					.highlights__table-col
						p.img
							img(src="img/img-email.png" alt="")
							| Email
					.highlights__table-col
						p.img
							img(src="img/img-email.png" alt="")
							| Email
					.highlights__table-col.highlights__table-col--top
						p.img
							img(src="img/img-email.png" alt="")
							| Email
					.highlights__table-col
						p.img
							img(src="img/img-email.png" alt="")
							| Email
				.highlights__table-row
					.highlights__table-col
						p.img
							img(src="img/img-discord.png" alt="")
							| Discord
					.highlights__table-col
						p.img
							img(src="img/img-discord.png" alt="")
							| Discord
					.highlights__table-col.highlights__table-col--top
						p.img
							img(src="img/img-discord.png" alt="")
							| Discord
					.highlights__table-col
						p.img
							img(src="img/img-discord.png" alt="")
							| Discord
				.highlights__table-row
					.highlights__table-col
						p.img
							img(src="img/img-flowdock.png" alt="")
							| Flowdock
					.highlights__table-col
						p.img
							img(src="img/img-flowdock.png" alt="")
							| Flowdock
					.highlights__table-col.highlights__table-col--top
						p.img
							img(src="img/img-flowdock.png" alt="")
							| Flowdock
					.highlights__table-col
						p.img
							img(src="img/img-flowdock.png" alt="")
							| Flowdock
				.highlights__table-row
					.highlights__table-col
						p
							i.icon-font.icon-line
					.highlights__table-col
						p.img
							img(src="img/img-sms.png" alt="")
							| SMS
					.highlights__table-col.highlights__table-col--top
						p.img
							img(src="img/img-sms.png" alt="")
							| SMS
					.highlights__table-col
						p.img
							img(src="img/img-sms.png" alt="")
							| SMS
				.highlights__table-row
					.highlights__table-col
						p
							i.icon-font.icon-line
					.highlights__table-col
						p.img
							img(src="img/img-webhook.png" alt="")
							| Webhook
					.highlights__table-col.highlights__table-col--top
						p.img
							img(src="img/img-webhook.png" alt="")
							| Webhook
					.highlights__table-col
						p.img
							img(src="img/img-webhook.png" alt="")
							| Webhook
				.highlights__table-row
					.highlights__table-col
						p
							i.icon-font.icon-line
					.highlights__table-col
						p
							i.icon-font.icon-line
					.highlights__table-col.highlights__table-col--top
						p.img
							img(src="img/img-microsoft-teams.png" alt="")
							| Microsoft Teams
					.highlights__table-col
						p.img
							img(src="img/img-microsoft-teams.png" alt="")
							| Microsoft Teams
				.highlights__table-row
					.highlights__table-col
						p
							i.icon-font.icon-line
					.highlights__table-col
						p
							i.icon-font.icon-line
					.highlights__table-col.highlights__table-col--top
						p.img
							img(src="img/img-statushub.png" alt="")
							| StatusHub
					.highlights__table-col
						p.img
							img(src="img/img-statushub.png" alt="")
							| StatusHub
				.highlights__table-row
					.highlights__table-col
						p
							i.icon-font.icon-line
					.highlights__table-col
						p
							i.icon-font.icon-line
					.highlights__table-col.highlights__table-col--top
						p.img
							img(src="img/img-atlassian-statuspage.png" alt="")
							| Atlassian Statuspage
					.highlights__table-col
						p.img
							img(src="img/img-atlassian-statuspage.png" alt="")
							| Atlassian Statuspage
				.highlights__table-row
					.highlights__table-col
						p
							i.icon-font.icon-line
					.highlights__table-col
						p
							i.icon-font.icon-line
					.highlights__table-col.highlights__table-col--top
						p
							i.icon-font.icon-line
					.highlights__table-col
						p.img
							img(src="img/img-api-access.png" alt="")
							| API Access
				.highlights__table-row
					.highlights__table-col

						.highlights__table-price
							p Free

						.c-btn__wrapper.c-btn__wrapper--center
							a.c-btn.c-btn__bg.c-btn__bg--green.c-btn--medium(href="#")
								span Try for free

						p.highlights__table-info Free forever!

					.highlights__table-col

						.highlights__table-price
							p!= "<i>$</i> 27.49"
							span Per month

						.c-btn__wrapper.c-btn__wrapper--center
							a.c-btn.c-btn__bg.c-btn__bg--green.c-btn--medium(href="#")
								span Try for free

						p.highlights__table-info Try free for 30 days

					.highlights__table-col.highlights__table-col--top

						.highlights__table-price
							p!= "<i>$</i> 91.66"
							span Per month

						.c-btn__wrapper.c-btn__wrapper--center
							a.c-btn.c-btn__bg.c-btn__bg--green.c-btn--medium(href="#")
								span Try for free

						p.highlights__table-info Try free for 30 days

					.highlights__table-col

						.highlights__table-price
							p!= "<i>$</i> 274.99"
							span Per month

						.c-btn__wrapper.c-btn__wrapper--center
							a.c-btn.c-btn__bg.c-btn__bg--green.c-btn--medium(href="#")
								span Try for free

						p.highlights__table-info Try free for 30 days




// SECTION :: END
